[Unit]
Description=Redis Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/redis-server
Restart=always

[Install]
WantedBy=multi-user.target
